<launch>

<rosparam file="$(find differential_drive_robot_description)/launch/controller.yaml" command="load"/>
<node args="Rev1_position_controller Rev2_position_controller joint_state_controller " name="controller_spawner" ns="differential_drive_robot" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/differential_drive_robot/joint_states"/>
</node>

</launch>